<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Contacts</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>

    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody id="contactList">
                {{#each contacts}}
                <tr>
                    <td>
                        <a class="link-underline-light link-opacity-75-hover" href="#">{{this.name}}</a>
                    </td>
                    <td>{{this.email}}</td>
                    <td>
                        {{this.contact}}
                    </td>
                    <td>{{this.description}}</td>
                    <td><button class="btn btn-danger btn-sm contactDelete">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>