<footer class="text-body-secondary py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href= "#">Back to top</a>
        </p>
        <p class="mb-1">&copy;MyPofo. All rights reserved</p>
        <p class="mb-0"><a href="/"Vist the homepage</a>
        or read about me 
        <a href="#">About Me</a></p>
    </div>
</footer>
<script src = "/js/bootstrap.bundle.min.js"></script>