<div class="wallpaper"></div>
<div class="content">
    <aside class="side">
        <figure class="picture">
            <div class="picture-shadow"></div>
            <img id="pictureImage" class="picture-image" src="/images/Abhishek.jpg" alt="Portrait of Abhishek Mishra"
                width="320" height="320">
        </figure>
    </aside>
    <main class="about">
        <h1 class="name">
            Hi, I'm Abhishek Mishra
        </h1>
        <p class="job">
            Web Developer
        </p>
        <hr class="hr">
        <div class="description">
            <p>
                I spend my time traveling the world,
                helping startups and tech businesses
                improve thier product.
            </p>
        </div>

        <div class="contact">
            <a class="button" href="/projects">
                See my Work
            </a>
            <ul class="social">
                <li>
                    <a>
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/mishrabhi" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </main>
</div>