<html lang="en" data-bs-theme="auto">
{{> admin/head }}

<body>
    {{> admin/header }}
    <div class="container-fluid">
        <div class="row">
            {{> admin/sidebar }}

            {{{body}}}
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
        integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
        crossorigin="anonymous"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>