<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row g-3">
                <div class="col-md-3 project-sb">
                    <img src="/images/download.jpeg">
                    <div>
                        <hr />
                        <div>
                            <h1>Links</h1>
                            <div class="mb-2">
                                <a class="btn btn-primary" href="">Github</a>
                            </div>
                            <div>
                                <a class="btn btn-primary" href="">Live Demo</a>
                            </div>
                        </div>
                        <hr />

                        <div>
                            <h1>Tags</h1>
                            <span class="badge text-bg-primary">Javascript</span>
                            <span class="badge text-bg-primary">HTML</span>
                            <span class="badge text-bg-primary">CSS</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Number Guessing Game</li>
                        </ol>
                    </nav>
                    <h1>Number Guessing Game</h1>
                    <p>This is a simple Javascript based Game. Where you'll get a chance to get the correct number
                        choosen by the system. Sysytem will provide hints for right guess.</p>
                    <img src="/images/javascript.png" alt="" srcset="" />
                </div>

            </div>
        </div>
</main>